
@{
    ViewData["Title"] = "AddTransaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Register of financial transactions</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Add Transaction</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Financial group</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Group 1</label>
                                <select id="slt2ParentTree" class="select2" data-placeholder="Select a first" data-dropdown-css-class="select2-purple" style="width: 100%;" asp-items="@((List<SelectListItem>)ViewData["ParentsTrees"])"></select>
                            </div>
                            <div class="form-group">
                                <label>Sub goudp 1.1</label>
                                <select id="slt2ChildTree" class="select2" data-placeholder="Select a first" data-dropdown-css-class="select2-purple" style="width: 100%;"></select>
                            </div>
                            <div class="form-group">
                                <label>Sub group 1.1.1 <span class="text-danger">*</span></label>
                                <select id="slt2GrandChildTree" class="select2" data-placeholder="Select a first" data-dropdown-css-class="select2-purple" style="width: 100%;"></select>
                                <p class="text-danger">Required</p>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <input type="text" class="form-control" placeholder="Enter ...">
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>

                <!--/.col (left) -->
                <!-- right column -->
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Add financial transaction</h3>
                        </div>
                        <div class="card-body">
                            <!-- select -->
                            <div class="form-group">
                                <label>Transaction type</label>
                                <div class="select2-gray">
                                    <select id="slt2TransactionTypes" class="select2" data-placeholder="Select a type" data-dropdown-css-class="select2-gray" style="width: 100%;" asp-items="@((List<SelectListItem>)ViewData["TransactionTypes"])"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Bank</label>
                                <div class="select2-purple">
                                    <select id="slt2Banks" class="select2" data-placeholder="Select a bank" data-dropdown-css-class="select2-purple" style="width: 100%;" asp-items="@((List<SelectListItem>)ViewData["ListBanks"])"></select>
                                </div>
                            </div>
                            <label>Value</label>
                            <div class="input-group">

                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="text" id="money" style="text-align: left;"><br>
                            </div>
                            <div class="form-group">
                                <label>Payment date:</label>
                                <input type="text" class="form-control" id="datemask" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                            </div>
                            <div class="form-group">
                                <label>Oparation methods</label>
                                <div class="select2-gray">
                                    <select id="slt2PaymentMethods" class="select2" data-placeholder="Select a type" data-dropdown-css-class="select2-gray" style="width: 100%;" asp-items="@((List<SelectListItem>)ViewData["PaymentsMethods"])"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch3">
                                    <label class="custom-control-label" for="customSwitch3">Operation done</label>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="float-right">
                                <button type="submit" class="btn btn-primary"><i class="far fa-save"></i> Save</button>
                            </div>
                            <button type="reset" class="btn btn-default"><i class="fas fa-times"></i> Discard</button>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>

                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script src="~/lib/jquery.inputmask/jquery.inputmask.js"></script>
<script src="~/lib/jquery.inputmask/inputmask.min.js"></script>
<script type="text/javascript">
    $(function () {
        //Datemask dd/mm/yyyy
        $('#datemask').inputmask();

        $("#money").inputmask('currency', {
            "autoUnmask": true,
            radixPoint: ",",
            groupSeparator: ".",
           // allowMinus: false,
            numericInput: true,
          //  prefix: 'R$ ',
            digits: 2,
            //    digitsOptional: false,
            rightAlign: true
        //    unmaskAsNumber: true
        });

        $("#slt2ParentTree").change(function (event) {
            $("#slt2ChildTree").val(null);            
            $("#slt2ChildTree").empty();
            $("#slt2GrandChildTree").val(null);
            $("#slt2GrandChildTree").empty();

            if ($(this).val() !== '0') {
                var url = '@Url.Content("~/Transaction/GetAjaxHandlerChildTrees")'
                $.getJSON(url, { parentTreeID: $(this).val() }, function (aaData) {
                    $.each(aaData, function (index, obj) {
                        var newOption = new Option(obj.Text, obj.Value, false, obj.Selected);
                        $("#slt2ChildTree").append(newOption);
                    });
                    $("#slt2ChildTree").trigger('change');
                });
            }
        });

        $("#slt2ChildTree").change(function (event) {
            $("#slt2GrandChildTree").val(null);
            $("#slt2GrandChildTree").empty();

            if ($(this).val() !== '0') {
                var url = '@Url.Content("~/Transaction/GetAjaxHandlerGrandChildTrees")'
                $.getJSON(url, { childTreeID: $(this).val() }, function (aaData, isSuccess) {
                    if (isSuccess) {
                        $.each(aaData, function (index, obj) {
                            var newOption = new Option(obj.Text, obj.Value, false, obj.Selected);
                            $("#slt2GrandChildTree").append(newOption).trigger('change');
                        });
                        $("#slt2GrandChildTree").trigger('change');
                    } else {
                        alert(aaData);
                    }
                });
            }
        });
    });
</script>